.listContainer {
  height: 71vh;
  border-radius: 15px;
}

.mrgBtn {
  height: 5px;
}

.listTop {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  text-align: center;

  h2 {
    color: rgb(163, 163, 163);
    text-align: center;
    align-items: center;
    display: flex;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 650;
    font-size: 1rem;
    -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.27);
    box-shadow: 1px 2px 12px 2px rgba(0, 0, 0, 0.27);
    background-color: rgb(89, 156, 255);
    color: #fff;

    &:hover {
      background-color: rgb(55, 135, 255);
      transition: 0.3s;
    }

    span {
      margin-right: 5px;
      margin-top: 10px;

      .iconAdd {
        color: white;
      }
    }
  }
}

.listBottom {
  height: 100%;
}

//Styele modal edit template

.formProfileEdit {
  display: flex;
  flex-wrap: wrap;
  height: 175px;
  width: 100%;
  gap: 5px;
  justify-content: space-around;
  background-color: #fff;

  .formInputProfileEdit {
    margin-top: 10px;
    width: 90%;

    label {
      display: flex;
      align-items: center;
      gap: 10;

      .icon {
        cursor: pointer;
      }
    }

    input {
      width: 100%;
      padding: 10px;
      border: none;
      border-bottom: 1px solid gray;
      outline-color: transparent;
      transition: outline-color 0.2s ease-in-out;
    }

    input:focus {
      outline-color: skyblue;
    }

    select {
      width: 100%;
      padding: 5px;
      border: none;
      border-bottom: 1px solid gray;
      cursor: pointer;
    }
  }
}

.topProfile {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.27);
  box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.27);
  display: flex;

  h1 {
    color: rgb(97, 192, 255);
    font-size: 25px;
    margin: 0 auto;
  }
}

// INI STYLE UNTUK MODAL ADD NEW SITE

.formProfileNewSite {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  gap: 5px;
  justify-content: space-around;
  background-color: #fff;
}

.formInputProfileEditSite {
  width: 100%;

  label {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    outline-color: transparent;
    transition: outline-color 0.2s ease-in-out;
    margin-bottom: 10px;
  }

  input:focus {
    outline-color: skyblue;
  }

  select {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
    cursor: pointer;
    margin-bottom: 15px;
  }
}

.formInputProfileEditSite:nth-child(3) > input {
  width: 48%;
}

.formInputProfileEditSite:nth-child(3) > input:nth-child(2) {
  float: right;
}
