.new {
  display: flex;
}

.sidebar.close ~ .containerForm {
  left: 78px;
  width: calc(100% - 78px);
}

.top {
  // background-color: #027cef;
  margin-left: 65px;
  margin-right: 60px;
  margin-top: 25px;
  margin-bottom: -25px;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.27);
  box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.27);
  display: flex;

  h1 {
    color: rgb(97, 192, 255);
    font-size: 25px;
  }
}

.containerTemplateNew {
  margin: 20px;
  display: flex;
  gap: 15px;
  height: 120vh;
  border-radius: 7px;

  .leftTemplateNew {
    padding: 40px 25px;
    height: 80vh;
    width: 100%;

    h1 {
      background-color: #fff;
      border-radius: 7px;
      -webkit-box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.27);
      box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.27);
      font-size: 1.5rem;
      width: 110%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      padding: 5px 10px;
    }

    .formTemplateNew {
      height: 90vh;
      width: 110%;
    }
  }

  .rightTemplateNew {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    padding: 25px 25px;

    h1 {
      background-color: #fff;
      border-radius: 7px;
      -webkit-box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.27);
      box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.27);
      font-size: 1.5rem;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      padding: 5px 10px;
    }

    .listSectionNew {
      height: 70vh;
      margin-top: 15px;
      width: 100%;

      .tableSectionNew {
        height: 90vh;
        width: 75vh;
        border-radius: 10px;
        -webkit-box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.27);
        box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.27);
      }
    }
  }
}

.MuiDataGrid-main {
  height: 65vh;
}

.templateInputNew {
  width: 100%;
  height: 95vh;

  .formTemplateNew {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
    width: 100%;
    gap: 20px;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.27);
    box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.27);

    .formInputTemplate:nth-child(1) {
      width: 93%;
    }
    .formInputTemplate:nth-child(2) {
      width: 93%;
    }

    .formInputTemplate {
      width: 40%;

      label {
        display: flex;
        align-items: center;
        gap: 10;

        .icon {
          cursor: pointer;
        }
      }

      input {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 1px solid gray;
      }

      select {
        width: 100%;
        padding: 5px;
        border: none;
        border-bottom: 1px solid gray;
      }
    }

    button {
      width: 150px;
      height: 35px;
      border: none;
      font-weight: bold;
      background-color: rgb(84, 163, 82);
      cursor: pointer;
      color: white;
      border-radius: 5px;
      -webkit-box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.27);
      box-shadow: 1px 4px 12px 4px rgba(0, 0, 0, 0.27);
      margin-top: 5vh;

      &:hover {
        background-color: rgb(51, 151, 47);
        transition: 0.5s;
      }
    }
  }
}

.cellAction {
  display: flex;
  align-items: center;
  gap: 5px;

  .viewButtonOperator {
    padding: 5px 5px;
    border-radius: 5px;
    color: rgb(18, 18, 165);
    cursor: pointer;

    .viewIcon {
      margin-bottom: -6px;
      margin-top: 1px;
    }

    &:hover {
      background-color: rgba(0, 0, 139, 0.17);
      transition: 0.2s;
    }
  }

  .deleteButtonOperator {
    padding: 5px 5px;
    border-radius: 5px;
    color: rgb(255, 50, 50);
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 50, 50, 0.17);
      transition: 0.2s;
    }
  }
}

.inputExpired {
  margin-left: -10px;
}

//Styele modal edit template

.formTemplateEdit {
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  width: 100%;
  gap: 20px;
  justify-content: space-around;
  background-color: #fff;

  .formInputTemplateEdit:nth-child(1) {
    width: 93%;
  }
  .formInputTemplateEdit:nth-child(2) {
    width: 93%;
  }

  .formInputTemplateEdit {
    width: 40%;

    label {
      display: flex;
      align-items: center;
      gap: 10;

      .icon {
        cursor: pointer;
      }
    }

    input {
      width: 100%;
      padding: 10px;
      border: none;
      border-bottom: 1px solid gray;
      outline-color: transparent;
      transition: outline-color 0.2s ease-in-out;
    }

    input:focus {
      outline-color: skyblue;
    }

    select {
      width: 100%;
      padding: 5px;
      border: none;
      border-bottom: 1px solid gray;
      cursor: pointer;
    }
  }
}

.inputContainer {
  position: relative;
}

#uptimeDisplay {
  position: absolute;
  top: 1%;
  right: 2%;
  padding: 0.25rem;
  font-size: 0.85rem;
  font-weight: 450;
  background-color: transparent;

  select {
    border-bottom: none;
  }
}
