.topHotspotServer {
  margin-left: 65px;
  margin-right: 60px;
  margin-top: 25px;
  margin-bottom: -25px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.27);
  box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.27);
  display: flex;

  h1 {
    color: rgb(97, 192, 255);
    font-size: 25px;
    margin: 0 auto;
    padding-right: 50px;
  }
}

.ant-btn {
  margin-left: 105px;
}

// ini start css table di dalam modal ketika berhasil regist

.my-table {
  margin-left: 10px;
  font-size: 16px;
  width: 95%;
  border-collapse: separate;
  border-spacing: 5px;
}

.my-table th,
.my-table td {
  border: 1px solid rgb(114, 114, 114);
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgb(59, 144, 255);
}

.my-table th {
  background-color: #f1efef;
}

.my-table td {
  font-weight: bold;
}

.my-table .btnCopy:hover {
  color: #1890ff;
  transition: 0.3s;
}

.my-table tr td {
  font-size: 13px;
}
.my-table tr th {
  font-size: 15px;
}

.btnCopy {
  border: none;
  background: none;
  cursor: pointer;
}

.btnCopy > svg {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-top: -15px;
  position: absolute;
}

// ini end css table di dalam modal ketika berhasil regist
